$margin0: 0;
$margin15: 1rem;
$padding0: 0;
$padding5: 0.34rem;
$padding15: 1rem;

%flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

%flex-spaced {
    display: flex;
    justify-content: space-between;
    align-items: center;
}