/* Error: Expected string.
 *    ,
 * 24 |     @import %flex-center;
 *    |             ^
 *    '
 *   base/_base.scss 24:13  @import
 *   style.scss 1:9         root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Expected string.\a    \2577 \a 24 \2502      @import %flex-center;\a    \2502              ^\a    \2575 \a   base/_base.scss 24:13  @import\a   style.scss 1:9         root stylesheet";
}
