$smilie-size: 1.8rem;
$ancho-contenedor: 65%;

.contenedor-resultados {
    @extend %flex-list-left;
    width: $ancho-contenedor;

    h3 {
        font-family: $fuente-ppal;
        font-size: $h3-size;
    }

    p {
        font-family: $fuente-sec;
        margin-bottom: $margin15;
        font-size: $fuente-sec-size;
    };
}

.contenedor-principal {
    @extend %flex-center;
    flex-direction: column;

    &__resultados {
        @extend %flex-spaced;
        flex-wrap: wrap;
        margin: $margin0 $margin15;
        padding: $margin0 $padding15;
        width: $ancho-contenedor;

        &__card {
            width: 9.8rem;
            padding-bottom: $padding15;
            transition: 0.3s;

            &__contenedor-img {
                box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

                img {
                    width: 9.8rem;
                }
            }

            &__txt {
                p {
                    margin-top: $margin15;
                    margin-bottom: $margin30;
                    font-family: $fuente-sec;
                    font-size: $fuente-sec-size;
                    height: 2rem;
                }
            }

            &:hover {
                cursor: pointer;
                transform: scale(1.1);
            }

        }
    };
    
    &__paginacion {
        @extend %flex-center;
        margin-bottom: $margin30;
        button {
            width: 3.8rem;
            font-family: $fuente-ppal;
            font-size: $smilie-size;
            margin: $margin5;
            background-color: $color-fuente;
            outline: none;
            border: 0.1rem solid $color-fuente;
            border-radius: $radius;
            cursor: pointer;
            color: $color-logo;
            font-weight: bold;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            transition: 0.3s;
        };
        button:hover {
            color: $color-contraste;
            transform: scaleY(1.2); 
        }
    }
};