@import "fonts";
@import "texts";

$color-logo: #fafafa;
$color-contraste: red;
$color-fuente: #424242;
$color-fondo: #fafafa;


* {
    margin: $margin0;
    padding: $padding0;
}

.header {
    
    position: relative;
    &__image {
        & img {
            width: 100%;
        }
    
    }
    &__title {
        z-index: 2;
        position: fixed;
        top: $margin0;
        color: $color-contraste;
        background-color: $color-logo;
        width: 100%;
    }
}

.contenedor__orden-selector {
    @extend %flex-center;
}

.seccion__principal__resultados {
    h3 {
        font-size: $h3-size;
    }

    p {
        width: 50%;
    }
}
