@import "fonts";
@import "texts";
// @import "helpers";

.header {
    
    position: relative;
    &__image {
        & img {
            width: 100%;
        }
    
    }
    &__title {
        z-index: 2;
        position: fixed;
        top: 0;
        color: #fafafa;
        background-color: red;
        width: 100%;
    }
}

.contenedor__orden-selector {
    @extend %flex-center;
}

.seccion__principal__resultados {
    h3 {
        font-size: 30px;
    }

    p {
        width: 50%;
    }
}
