@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ropa+Sans:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Asap+Condensed:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

$fuente-ppal: "Fjalla One";
$fuente-sec: "Ropa Sans";
$fuente-ppal-size: 3.5rem;
$fuente-sec-size: 1rem;
$h3-size: 1.5rem;




